<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aresapp Sign</title>
    </head>
    <body>
    <div n:snippet="flashMessages">
        <div n:foreach="$flashes as $flash" class="alert alert-success" role="alert">{$flash->message}</div>
    </div>
        <div>
            {form loginForm}
                <h2>Login</h2>
                {label email /}
                {input email, placeholder => "E-mailová adresa"}

                {label password /}
                {input password, placeholder => "Heslo"}

                <br>
                <button type="submit" name="send">Login</button>
            {/form}
        </div>
    </body>
</html>





